@charset "UTF-8";
/* CSS Document */

.content {
	display: flex; /*中の四角を浮かせる*/
    padding: 20px;
}

.home-content {
	width: 80vw;
	height: 720px;
	background-color: rgba(0,0,0,0.50);
	text-align: center;
	margin: 0 auto;
}

.mini {	
	width: 72vw;
	height: 700px;
	margin: 10px auto;
	display: flex;
	
}

.mini-box {		
	width: 40%;
	height: 550px;
	background: #178DFC;
}

.mini-box1 {		
	width: 100%;
	height: 620px;
	background: #fff;
    padding: 5px 20px;	
}


.mini-box2 {		
	width: 60%;
	height: 400px;
	background: #fff;
    padding: 5px 20px;	
}

.moji1 {
	font-size:30px;
	margin-top: 10px;
	letter-spacing: 0.3em; /*字左右幅調整*/
	color: #fff;
	font-family:"Arial Black", Gadget, "sans-serif";
}
/* --------------------------------
            home<終了>
----------------------------------*/

/* --------------------------------
            profireの切り替え<開始>
----------------------------------*/

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
	width: 100%;
    margin: 8px 0;
	padding: 0.3em;
	font-size: 16px;
    border: 1px solid #178DFC;
    outline: none;
    background: transparent;
	border-radius: 4px;
}


textarea:focus {
	border-color: #0ad0ff;
}

.hyo {
	margin: 0 auto;
	font-size: 20px;
	color: #178DFC;
	width: 90%;
	font-family:"Comic Sans MS";
    
}

.list1 {
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	font-family:"Comic Sans MS";
    font-weight: bold;
	vertical-align:middle;
}


.list2 {
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	font-family:"Comic Sans MS";
    font-weight: bold;
	vertical-align: top;
}


.ch1 {
	white-space: nowrap;
}


.ch2 {
	font-family: "HiraKakuProN-W6" ;
    white-space: nowrap;
}

.list1 .ch1,.list2 .ch1{
	display: inline;
}

.list1:hover .ch1,.list2:hover .ch1{
	display: none;
}

.list1 .ch2 ,.list2 .ch2{
	display: none;
}

.list1:hover .ch2,.list2:hover .ch2 {
	display: inline;
}


.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #178DFC;
	border-radius: 4px;
	outline: none;
}
.cp_iptxt input[type=text]:focus {
	border-color: #0ad0ff;
}
.cp_iptxt input[type=text] {
	padding-left: 40px;
}
.cp_iptxt i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 7px 8px;
	transition: 0.3s;
	color: #178DFC;
}
.cp_iptxt input[type=text]:focus + i {
	color: #0ad0ff;
}


.shikaku_box {
	padding:0 1em;
    background: linear-gradient(#178DFC 2px, transparent 1px) repeat left bottom;
    background-size: auto 2.5em;
	line-height: 2.5em;
	overflow: hidden;
}


input[type=radio] {
    display: none;
}
.radio03 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}
.radio03::before {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.radio03::after {
    background: #178DFC;
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    left: 8px;
    margin-top: -5px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: scale3d(.3,.3,1);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    width: 10px;
}
input[type=radio]:checked + .radio03::before {
    border-color: #0ad0ff;
}
input[type=radio]:checked + .radio03::after {
    opacity: 1;
    transform: scale3d(1,1,1);
}


input[type=checkbox] {
    display: none;
}
.checkbox02 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}
.checkbox02::before {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.checkbox02::after {
    border-right: 6px solid #00cccc;
    border-bottom: 3px solid #00cccc;
    content: '';
    display: block;
    height: 20px;
    left: 7px;
    margin-top: -16px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 9px;
}
input[type=checkbox]:checked + .checkbox02::before {
    border-color: #666;
}
input[type=checkbox]:checked + .checkbox02::after {
    opacity: 1;
}


input[type=radio] {
	display: none;
}

.check {
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	padding: 5px 30px;
	position: relative;
	width: auto;
}

.check:before {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	content: "";
	display: block;
	height: 16px;
	left: 5px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

.check:after {
	background: #00cccc;
	border-radius: 50%;
	content: "";
	display: block;
	height: 8px;
	left: 10px;
	margin-top: -3px;
	opacity: 0;
	position: absolute;
	top: 50%;
	width: 8px;
}

input[type=radio]:checked + .check:before {
	border-color: #666;
}

input[type=radio]:checked + .check:after {
	opacity: 1;
}


.botom {
	display: inline-block;
	width: 200px;
	border: 2px solid #178DFC;
	border-radius: 5px;
	font-size: 14pt;
	text-align: center;
	cursor: pointer;
	margin: 0px 5px 5px 5px;
	padding: 12px 17px;
	background: #178DFC;
	color: #fff;
	line-height: 1em;
	transition: 3s;
	box-shadow: 6px 6px 2px #666666;
}

.botom:hover {
	box-shadow: none;
	color: #178DFC;
	background: #fff;
}
