@charset "UTF-8";
/* CSS Document */

/* --------------------------------
            home<開始>
----------------------------------*/
.content {
	display: flex; /*中の四角を浮かせる*/
    padding: 20px;
}

.home-content {
	width: 80vw;
	height: 650px;
	background-color: rgba(0,0,0,0.50);
	text-align: center;
	margin: 0 auto;
}

.mini {	
	width: 72vw;
	height: 650px;
	margin: 10px auto;
	display: flex;
	
}

.mini-box {		
	width: 30vw;
	height: 550px;
	background: #178DFC;
}

.mini-box1 {		
	width: 55vw;
	height: 550px;
	background: #fff;
    padding: 0 20px;	
}


.mini-box2 {		
	width: 60%;
	height: 400px;
	background: #fff;
    padding: 5px 20px;	
}

.moji1 {
	font-size:30px;
	margin-top: 10px;
	letter-spacing: 0.3em; /*字左右幅調整*/
	color: #fff;
	font-family:"Arial Black", Gadget, "sans-serif";
}
/* --------------------------------
            home<終了>
----------------------------------*/

/* --------------------------------
            profireの切り替え<開始>
----------------------------------*/

.hyo {
	margin: 0 auto 20px;
	font-size: 20px;
	color: #178DFC;
	width: 90%;
	font-family:"Comic Sans MS";
    
}

.list1 {
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	font-family:"Comic Sans MS";
    font-weight: bold;
}


.list2 {
	text-align: center;
	border-bottom: 2px solid #178DFC;
}

.ch1 {
	
}


.ch2 {
	font-family: "HiraKakuProN-W6" ;
    
}

.list1 .ch1,.list2 .ch1{
	display: inline;
}

.list1:hover .ch1,.list2:hover .ch1{
	display: none;
}

.list1 .ch2 ,.list2 .ch2{
	display: none;
}

.list1:hover .ch2,.list2:hover .ch2 {
	display: inline;
}


.list1.second{
	padding-top: 20px;
}


.list3 {
	border-bottom: 2px solid #178DFC;
}

.list3 .ch1{
	width: 100%;
	display: inline;
}

.list3:hover .ch1{
	display: none;
}

.list3 .ch2 {
	display: none;
}

.list3:hover .ch2 {
	
	display: inline;
}

.shikaku_box {
	padding-left: 16px;
    background: linear-gradient(#178DFC 2px, transparent 1px) repeat left bottom;
    background-size: auto 2.5em;
	line-height: 2.5em;
	overflow: hidden;
}


/* --------------------------------
            profireの切り替え<終了>
----------------------------------*/

.home-content_2 {
	width: 80%;
	height: 800px;
	background-color: rgba(0,0,0,0.50);
	text-align: center;
	margin: 0 auto;
}


.mini_2 {	
	width: 90%;
	height: 400px;
	margin: 10px auto 0 auto;
	display: flex;
}

.mini-box_2 {		
	width: 55%;
	height: 400px;
	background: #fff;
	display: flex;
	flex-direction: column;
}


.tya-to1 {
	flex-grow: 2;
}
.tya-to2 {
	padding: 30px 5px 0 0 ;
	flex-grow: 1;
}

.tya-to3 {
	flex-grow: 2;
}

.bikou {
	width: 90%;
	height: 300px;
	background: #fff;
	margin: 0 auto;
}


.home-content_3 {
	width: 80%;
	height: auto;
	background-color: rgba(0,0,0,0.50);
	text-align: center;
	margin: 0 auto;
}

.mini_3 {	
	width: 90%;
	height: auto;
	padding: 10px 0;
	margin: 10px auto 30px;
	display: flex;
	background: #fff;
	text-align: left;
	color: #178DFC;
}

.ch1.bityousei {
	text-align: left
}




/* ----------------------------------------------------------------
   star１つ目の三角形（※２つの三角を組み合わせて★を作っています）<開始>
------------------------------------------------------------------*/

.star {
	text-align: center;
	border-bottom: 2px solid #178DFC;
	display: flex;
}

.star-box1{
	margin: 0 auto;
    display: flex;
}



.star-fav {
    margin: 15px 2px ;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #0ad0ff;
    display: block;
    height: 0;
    width: 0;
    position: relative;
    animation:
        anim-star-fav-rotate 30s linear infinite;
}

.star-fav:before,
.star-fav:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #0ad0ff;
    content: '';
    display: block;
    height: 0;
    left: -15px;
    position: absolute;
    top: 0;
    width: 0;
}
.star-fav:before {
    transform: rotate(71deg);
}
.star-fav:after {
    transform: rotate(-71deg);
}
@keyframes anim-star-fav-rotate {
    from { transform: rotate(35deg);}
    to { transform: rotate(395deg);}
}
@keyframes anim-star-fav-opacity {
    0%   { opacity: 1;}
    50%  { opacity: 0.5;}
    100% { opacity: 1;}
}


.star-box1 span.star-fav:nth-child(5) {
    margin: 15px 2px ;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #A9A9A9;
    display: block;
    height: 0;
    width: 0;
    position: relative;
    animation:
        anim-star-fav-rotate 30s linear infinite;
}

.star-box1 span.star-fav:nth-child(5):before,
.star-box1 span.star-fav:nth-child(5):after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #A9A9A9;
    content: '';
    display: block;
    height: 0;
    left: -15px;
    position: absolute;
    top: 0;
    width: 0;
}
.star-box1 span.star-fav:nth-child(5):before {
    transform: rotate(71deg);
}
.star-box1 span.star-fav:nth-child(5):after {
    transform: rotate(-71deg);
}
@keyframes anim-star-fav-rotate {
    from { transform: rotate(35deg);}
    to { transform: rotate(395deg);}
}
@keyframes anim-star-fav-opacity {
    0%   { opacity: 1;}
    50%  { opacity: 0.5;}
    100% { opacity: 1;}
}



/* ----------------------------------------------------------------
   star１つ目の三角形（※２つの三角を組み合わせて★を作っています）<終了>
------------------------------------------------------------------*/

/* ----------------------------------------------------------------
   star２つ目の三角形（※２つの三角を組み合わせて★を作っています）<開始>
------------------------------------------------------------------*/

.star-box2{
	margin: 0 auto;
    display: flex;
}



.star-fav {
    margin: 15px 2px ;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #0ad0ff;
    display: block;
    height: 0;
    width: 0;
    position: relative;
    animation:
        anim-star-fav-rotate 30s linear infinite;
}

.star-fav:before,
.star-fav:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #0ad0ff;
    content: '';
    display: block;
    height: 0;
    left: -15px;
    position: absolute;
    top: 0;
    width: 0;
}
.star-fav:before {
    transform: rotate(71deg);
}
.star-fav:after {
    transform: rotate(-71deg);
}
@keyframes anim-star-fav-rotate {
    from { transform: rotate(35deg);}
    to { transform: rotate(395deg);}
}
@keyframes anim-star-fav-opacity {
    0%   { opacity: 1;}
    50%  { opacity: 0.5;}
    100% { opacity: 1;}
}


.star-box2 span.star-fav:nth-child(4),.star-box2 span.star-fav:nth-child(5) {
    margin: 15px 2px ;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #A9A9A9;
    display: block;
    height: 0;
    width: 0;
    position: relative;
    animation:
        anim-star-fav-rotate 30s linear infinite;
}

.star-box2 span.star-fav:nth-child(4):before,.star-box2 span.star-fav:nth-child(5):before,
.star-box2 span.star-fav:nth-child(4):after,.star-box2 span.star-fav:nth-child(5):after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #A9A9A9;
    content: '';
    display: block;
    height: 0;
    left: -15px;
    position: absolute;
    top: 0;
    width: 0;
}
.star-box2 span.star-fav:nth-child(4):before,.star-box2 span.star-fav:nth-child(5):before {
    transform: rotate(71deg);
}
.star-box2 span.star-fav:nth-child(4):after,.star-box2 span.star-fav:nth-child(5):after {
    transform: rotate(-71deg);
}
@keyframes anim-star-fav-rotate {
    from { transform: rotate(35deg);}
    to { transform: rotate(395deg);}
}
@keyframes anim-star-fav-opacity {
    0%   { opacity: 1;}
    50%  { opacity: 0.5;}
    100% { opacity: 1;}
}



/* ----------------------------------------------------------------
   star２つ目の三角形（※２つの三角を組み合わせて★を作っています）<終了>
------------------------------------------------------------------*/




/* --------------------------------
            footer<開始>



footer {
	display:inline-block;
	width: 100%;
	height: auto;
	background: #000;
	text-align: center;
    padding-top:15px;
	color: #178DFC;
}

.sitemap {
	display: flex;
	font-size: 10px;
	color: #178DFC;
	margin-bottom: 5px;
	justify-content: center;
}

.sitemap a {
	color: #178DFC;
	text-decoration: none;
}

.sitemap a:hover {
	color: #0ad0ff;
	opacity: 1;
}

.mae {
	padding-top: 2px;
	opacity: 0.5;
}

.genzai {	
	font-size: 13px;
	opacity: 0.6;
}


/* --------------------------------
            footer<終了>
----------------------------------*/
